html[data-color-scheme="dark"] {
  color-scheme: dark;
}

html[data-color-scheme="default"] {
  color-scheme: light;
}

select.form-control {
  optgroup {
    font-size: 1rem !important;
  }

  option {
    font-size: 1rem !important;
  }
}
